.Field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.ScrubArea {
  cursor: ew-resize;
  font-weight: bold;
  user-select: none;
}

.ScrubAreaCursor {
  filter: drop-shadow(0 1px 1px #0008);
}

.Group {
  display: flex;
}

.Input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border-top: 1px solid var(--number-field-border-color);
  border-bottom: 1px solid var(--number-field-border-color);
  border-left: none;
  border-right: none;
  width: 2rem;
  height: 2rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  background-color: transparent;
  color: var(--number-field-text-color);

  text-align: center;
  font-variant-numeric: tabular-nums;
}

.Input:focus {
  z-index: 1;
  outline: 2px solid var(--number-field-focus-outline);
  outline-offset: -1px;
}

.Decrement,
.Increment {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin: 0;
  outline: 0;
  padding: 0;
  border: 1px solid var(--number-field-border-color);
  border-radius: 0.375rem;
  background-color: var(--number-field-button-bg);
  background-clip: padding-box;
  color: var(--number-field-text-color);
  user-select: none;
}

.Decrement:disabled,
.Increment:disabled,
.Decrement[data-disabled],
.Increment[data-disabled] {
  opacity: 0.45;
  cursor: not-allowed;
}

@media (hover: hover) {
  .Decrement:hover,
  .Increment:hover {
    background-color: var(--number-field-button-bg-hover);
  }

  .Decrement:disabled:hover,
  .Increment:disabled:hover,
  .Decrement[data-disabled]:hover,
  .Increment[data-disabled]:hover {
    background-color: var(--number-field-button-bg);
  }
}

.Decrement:active,
.Increment:active {
  background-color: var(--number-field-button-bg-hover);
}

.Decrement:disabled:active,
.Increment:disabled:active,
.Decrement[data-disabled]:active,
.Increment[data-disabled]:active {
  background-color: var(--number-field-button-bg);
}

.Decrement {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Increment {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

